<html>
  <head>

  </head>
  <body>
    <div class="dash">
      <div class="logo">
          <img src="assets\logo.jpg">
          <button type="submit" value="LOGOUT" name="">LOG OUT</button>
      </div>
      
    
    <div class="active">
        <ul>
            <li>
              
                <a href="#">HOME</a>
              
            </li>
            <li>
              <a href="#">ABOUT US</a>
            </li>
            <li><a href="#">CONTACT US</a></li>
            <li><a href="#">SERVICES</a></li>
          </ul>
    </div>
  </div>
  </body>
</html>
