body{
    width:1330px;
    height:1050px;
    background-color:skyblue;
}
.dash
{   margin:0px;
    padding: 0px;
    
}
.dash button[type="submit"]{float:right;margin-top:25px;}
.dash img{float:left;width:200px;height:100px;}
.active ul{list-style-type: none;}
.active ul li
{
    display:inline-block;
    padding:10px;
    position:relative;
    top:20px;
left:650px;}
.active ul a
{
text-decoration: none;
} 