<html>
  <head>

  </head>
  <body>
    <div class="signup">
      <form>
        <fieldset>
          <legend>Create Your Acount:</legend>
          <label for="name">Name:</label>
          <input type="text" id="name" name="" value="Enter Your Name">
          <label for="email">Your Email Address:</label>
          <input type="email" id="email" name="" value="xyz@abc.com">
          <label for="phone">Phone:</label>
          <input type="number" id="phone" name="" value="08945353753" required pattern="[1-10]{10-11}">
          <label for="address">Address:</label>
          <input type="address" id="address" name="" value="Enter Your Address">
          <label for="Security Questions">Security Question:</label>
          <select name="Security Questions" id="Security Questions">
              <option value="What is Your Pet Name?">What is Your Pet Name?</option>
              <option value="What is your favourite writer?">What is your favourite writer?</option>
              <option value="What is your favourite perfume?">What is your favourite perfume?</option>
              <option value="What is your birth place">What is your birth place?</option>
            </select>
            <label for="answer">Your answer:</label>
            <input type="text" value="Enter Your answer here" id="answer" name="">
      </fieldset>
    </form>
      
    </div>
  </body>
</html>
