<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
 
<div class="container">
  <div class="logo"><img src="assets\logo.jpg" /></div>
  <div class="text">
      <h5>BHILWARA INFOTECHNOLOGY LIMITED</h5>
  </div>
  <div class="login">
    <button id="butt" type="submit" name="" value="LOGIN"><a href="/login">LOGIN</a></button>
  </div>
</div>
<div class="welcome">
  <h5>WELCOME TO BHILWARA INFOTECHNOLOGY</h5>
</div>
<div class="wz-slider">
  <figure>
  <img src="assets\slider1.jpg" />
  <img src="assets\slider2.jpg" />
  <img src="assets\slider3.jpg" />
  <img src="assets\slider4.jpg" />
  </figure>
</div>
  
<div class="footer">
  <div class="a">
      <p>Phone No:+91-80-46306666</p> 
  </div>
  <div class="b">
      <p>Location:#244, Fortune Summit Business Park
          1st Floor, Hosur Road 
          Near Silk Board Junction
          Bengaluru, India – 560068</p>
  </div>
  <div class="c">
       <p>Fax:+91-80-41466262</p>
  </div>
</div>

    
</body>
</html>

