<html>
  <head></head>
  <body>
    <div class="container">
      <img src="assets\logo.jpg">
     
      <div class="log">
          LOGIN
          <form class="box">     
              <input type="text" placeholder="Enter your User Name" name="" id="user" required required pattern="[a-b][A-B][0-9]{14-16}">
             <input type="password" placeholder="Enter your password" name="" id="password" required>
             <button type="submit" value="LOGIN" name="" id="login"><a href="\dashboard">SIGN IN</a>

             </button>
             <button type="submit" value="SIGN UP" name="" id="SignUp"><a href="#">Create Your account</a></button>
             <a id="forgot" href="#">Forgot your password?</a>
            </form>
      </div>
    </div>
  </body>
</html>
